div {
	border-style: solid;
	background-color: mistyrose;
	border-radius: 8px;
	text-align: center;
	font-size: 38px;
	height: 50px;
	width: 50px;
	padding: 5px;
	list-style-type: none;
	display: inline-block;
}