body {
	text-align: center;
	background-color: black;
	font-family: 'Sigmar One', cursive;
	min-width: 550px;
}


.seat {
	border-style: solid;
	border-color: crimson;
	background-color: gold;
	border-radius: 8px;
	text-align: center;
	font-size: 3vw;
	height: 8%;
	width: 8%;
	margin: 1%;
	color: black;
	padding: 1%;
	list-style-type: none;
}

#seatContainer{
	justify-content: center;
	flex-wrap: wrap;
	margin: auto;
	width: 50%;
	height: 100%;
	display: flex;
	background-color: white;
	border-style: solid;
	border-color: crimson;
	border-radius: 8px;
	text-align: center;
	color: white;
	padding: 5px;
	list-style-type: none;
}


.seat_hover {
    background-color: black;
}

#screenContainer {
	position: relative;
	margin: auto;
	width: 90%;
	height: 75%;
}

.formhidden {
    display:none;
}

#slidingHeader{
	display: none;
	position: absolute;
	width: 40%;
	padding:12% 4% 10% 5%;
	left: 25%;
	z-index: 1;
}

.returnedSeatNumber {
	color: crimson;
}

.forFields {
	color: gold;
	font-size: 2em;
}

#formextraControls {

}

#instructions {
	margin: auto;
	width: 75%;
	color: gold;
	font-size: 3.25vw;
}

#actualInstructs {
	font-size: 2.75vw;
	line-height: 90%;
	color: crimson;
}

.seatKey {
	width: 75%;
	margin: auto;
}

.seatType {
	width: 20%;
	color: gold;
	display: inline-block;
	font-size: 2vw;
}

.typesOfSeats {
	height:	40%;
	width: 40%;
}

.kindOfChange {
	font-size: 100%;
	color: gold;
}

#screen {
	width: 75%;
	height: 75%;
}
/*
@media only screen and (max-width: 700px) and (min-width: 200px){
	#seatContainer{
		width: 100%;
}
}
*/