body {
	text-align: center;
	background-color: #65318f;
}

div {
	border-style: solid;
	border-color: #fff02a;
	background-color: #65318f;
	font-family: avenir;
	border-radius: 8px;
	text-align: center;
	font-size: 38px;
	height: 50px;
	width: 50px;
	margin: 5px;
	color: white;
	padding: 5px;
	list-style-type: none;
	display: inline-block;
}

#seatContainer{
	margin: auto;
	width: 50%;
	height: 100%;

	background-color: #65318f;
}

.seat:hover {
    background-color: black;
}


.formhidden {
    display:none;
}


#formextraControls {

}

	/*background-color: white;
}*/

@media only screen and (max-width: 700px) and (min-width: 200px){
	#seatContainer{
		width: 100%;
}
}
